table {
    width: 100%;
    border: 1px solid black;
}

tr, td {
    border: 1px solid black;
    text-align: center;
}

thead tr td {
    background-color: gray;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form {
    width: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 2px;
}
